<div class="row container-fluid container-Faq">
  <div class="col-12 py-4">
    <h2 class="title"><b>Preguntas Ferecuentes</b></h2>
  </div>

  <div class="col-12 col-lg-3 container-search">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control search rounded-start-pill border-secondary py-3 mb-3"
        placeholder="   Buscar"
        aria-label="Buscar"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-footer rounded-end-pill border-secondary py-3 mb-3"
        type="button"
        id="button-addon2"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <div class="col-12 conatiner-paragraph my-3">
    <p>
      orem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem
      ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
      amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
      dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      dolLorem ipsum dolor et amis lorem ipsum dol orem ipsum dolor et amis
      lorem ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor
      et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum dol
    </p>
  </div>

  <div class="col-12 col-md-5 questions">
    <div class="w-100">
      <button
        class="btn dropdown-toggle rounded-pill mb-3 w-100"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        ¿Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum ? <br />
      </button>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </div>
    <div>
      <button
        class="btn dropdown-toggle rounded-pill mb-3 w-100"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample1"
        aria-expanded="false"
        aria-controls="collapseExample1"
      >
        ¿Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum ?<br />
      </button>

      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </div>
    <div>
      <button
        class="btn dropdown-toggle rounded-pill mb-3 w-100"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample2"
        aria-expanded="false"
        aria-controls="collapseExample2"
      >
        ¿Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum ?<br />
      </button>

      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </div>
    <div>
      <button
        class="btn dropdown-toggle rounded-pill mb-3 w-100"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample3"
        aria-expanded="false"
        aria-controls="collapseExample3"
      >
        ¿Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum ?<br />
      </button>

      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </div>
  </div>

  <div class="jack my-3">
    <p class="text-end">
      “Cambia las cosas antes que tengas que hacerlo” <br />
      - Jack Welch
    </p>
  </div>
</div>

<div class="notfound ">
  <h2 class="text-center notfound-title">
    <b>¿No encontraste la respuesta que buscabas?</b>
  </h2>
  <p class="text-center notfound-paragraph my-4">
    ¡Contacta con nuestro equipo de asesores!
  </p>
  <div class="d-flex aling-items-center justify-content-center">
    <button type="button" class="btn btn-secondary rounded-pill py-3 px-5">
      <b>Contacta con un asesor</b>
    </button>
  </div>
</div>
