@import url("../../../styles.css");

.container-Faq {
  background-image: url("../../../assets/images/men-min-gray.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  margin: 0;
}

.search,
.btn {
  background-color: var(--gray3);
}

.questions .btn {
  background-color: var(--gray3);
  margin: 0;
  padding: 0;
}

.card {
  background-color: transparent;
  color: var(--white);
  border-color: transparent;
}

.notfound .btn {
  background-color: var(--blue);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 350px) {
  .container-Faq {
    font-size: large;
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .conatiner-paragraph {
    text-align: justify;
  }

  .questions {
    margin: 0;
    padding: 0 1rem;
  }

  .notfound {
    margin: 5rem 0;
  }

  .notfound-title {
    font-size: xx-large;
  }
  .notfound-paragraph {
    font-size: larger;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
    text-align: start;
  }

  .questions {
    margin: 0;
    padding: 0;
  }

  .notfound {
    margin: 3.5rem 0;
  }

  .notfound-title {
    font-size: 2rem;
  }
  .notfound-paragraph {
    font-size: x-large;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-Faq {
    font-size: x-large;
  }

  .title {
    font-size: 4rem;
  }

  .questions,
  .container-search,
  .conatiner-paragraph {
    margin: 0 2rem;
  }
  .conatiner-paragraph {
    padding-right: 5rem;
  }
  .questions .btn {
    font-size: 1.5rem;
  }
  .notfound-title {
    font-size: 5rem;
  }
  .notfound-paragraph {
    font-size: xx-large;
  }

  .notfound button {
    font-size: 1.3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
