<div class="container-fluid">
  <!-- section  presentation -->
  <div class="content-text-presentation">
    <h2>“Creemos en la transformación a través de la tecnología”</h2>
    <p>
      ecprendimiento transforma la manera en que los emprendedores y negocios
      afrontan el cambio, implementando soluciones de gestión, automatización e
      inteligencia artificial. Nuestro enfoque innovador optimiza procesos,
      reduce costos y acelera tu crecimiento, permitiendo a nuestros clientes
      alcanzar su máximo potencial.
    </p>

    <div class="col-12 col-lg-9 paragrahp-whith-backgound">
      <p>
        Descubre cómo la tecnología puede llevar tu negocio al siguiente nivel.
        ¡Contacta con nosotros!
      </p>
    </div>
  </div>
  <!-- seection our values -->
  <div class="row content-values">
    <div class="col-12 col-lg-6 content-image-values">
      <img src="../../../assets/images/duenos-min.png" alt="dueños" />
    </div>
    <div class="col-12 col-lg-6 content-text-value my-auto">
      <h2>Nuestros Valores</h2>
      <h4><strong>Innovación</strong></h4>
      <p>
        Impulsamos el cambio con soluciones tecnológicas creativas y efectivas.
      </p>
      <br />
      <h4><strong>Confianza</strong></h4>
      <p>
        Construimos relaciones sólidas basadas en transparencia y compromiso.
      </p>
    </div>
  </div>

  <!-- section clients  and history -->
  <div class="content-history-and-clients">
    <div class="row content-our-history">
      <h2>Nuestra Misión</h2>
      <p>
        Con la misión de empoderar a emprendedores y negocios a través de la
        transformación digital, aprovechando tecnología de gestión,
        automatización e inteligencia artificial, iniciamos como profesionales
        independientes potenciando a otros profesionales, mejorando procesos de
        negocios locales y proyectos dentro de organizaciones. Demostramos
        rápidamente que la tecnología podía ser una palanca para el crecimiento.
        Hoy, continuamos nuestro viaje, inspirados por la posibilidad de un
        futuro donde cada negocio pueda alcanzar su máximo potencial a través de
        la innovación tecnológica.
      </p>
    </div>

    <div class="row clients">
      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/piero-min.png"
          alt="piero-min"
        />
        <p class="col-12 col-lg-6">
          Me muevo en el mundo de los eventos y mostrar confianza es clave para
          hacer contactos. La tarjeta es mi herramienta de cierre perfecto.
          <br>
          <span class="text-end"><p class="nameClient text-end" >- Piero Salazar</p></span> 
        </p>
      </div>

      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/jessica.png"
          alt="jesica-min"
        />
        <p class="col-12 col-lg-6">
          Como alta ejecutiva, necesito borrar mis datos en las tarjetas de
          papel y esta solución me permite hacerlo de manera segura y
          profesional.
          <br>
          <span class="text-end"><p class="nameClient text-end" >- Jessica Ferreñan</p></span> 
        </p>
      </div>
      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/mario-min.png"
          alt="mario-min"
        />
        <p class="col-12 col-lg-6">
          Estoy expandiendo mi emprendimiento y esto ha facilitado muchísimo el
          proceso. ¡Ayuda a que mis nuevos contactos me recuerden!
          <br>
          <span class="text-end"><p class="nameClient text-end" >- Mario Ramirez</p></span> 
        </p>
      </div>
      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/christian-min.png"
          alt="christian-min"
        />
        <p class="col-12 col-lg-6">
          Nuestro grupo consultor ha mejorado significativamente su networking.
          Estamos impresionados con lo versátil que son las tarjetas.
          <br>
          <span class="text-end"><p class="nameClient text-end" >- Christian Arroyo</p></span> 
        </p>
      </div>
    </div>
  </div>
</div>
