<div class="container-fluid">
  <!-- section  presentation -->
  <div class="content-text-presentation">
    <h2>“Creemos en la transformación a través de la tecnología”</h2>
    <p>
      En <strong>Codeando México</strong> creemos en la transformación a través
      de la tecnología. Somos una comunidad de personas que trabajamos para
      mejorar la vida de las personas a través de la tecnología. Creemos que la
      tecnología es una herramienta poderosa para el cambio social y que todos
      podemos ser parte de la solución.
    </p>

    <div class="col-12 col-md-9 paragrahp-whith-backgound">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      </p>
    </div>
  </div>
  <!-- seection our values -->
  <div class="row content-values">
    <div class="col-12 col-lg-6 content-image-values">
      <img src="../../../assets/images/dueños-min.png" alt="dueños" />
    </div>
    <div class="col-12 col-lg-6 content-text-value my-auto">
      <h2>Nuestros Valores</h2>
      <h4><strong>Innovación</strong></h4>
      <p>Funciona con todos los dispositivos móviles habilitados para NFC.</p>
      <br />
      <h4><strong>Confianza</strong></h4>
      <p>
        Tus datos están protegidos bajo nuestra estricta politica de protección
        de datos.
      </p>
    </div>
  </div>

  <!-- section clients  and history -->
  <div class="content-history-and-clients">
    <div class="row content-our-history">
      <h2>Nuestra historia</h2>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. "Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. "Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>

    <div class="row clients">
      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/piero-min.png"
          alt="piero-min"
        />
        <p class="col-12 col-lg-6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        </p>
      </div>

      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/jessica.png"
          alt="jesica-min"
        />
        <p class="col-12 col-lg-6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        </p>
      </div>
      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/mario-min.png"
          alt="mario-min"
        />
        <p class="col-12 col-lg-6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        </p>
      </div>
      <div class="col-12 clients-items col-lg-6">
        <img
          class="col-12 col-lg-6"
          src="../../../assets/images/christian-min.png"
          alt="christian-min"
        />
        <p class="col-12 col-lg-6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        </p>
      </div>
    </div>
  </div>
</div>
