<div>
  <h2>Ayudamos al éxito a través de la tecnología</h2>
  <p>
    Our services are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem
    ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
    dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum dol. Our services
    are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
    amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum dollorem ipsum
    dolLorem ipsum dolor et amis lorem ipsum dol.
  </p>

  <div class="row cards d-flex justify-content-center aling-items-center">
    <div class="col-auto card text-bg-dark">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-auto card text-bg-dark">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-auto card text-bg-dark">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <p>
    Our services are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem
    ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
    dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum dol. Our services
    are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
    amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum dollorem ipsum
    dolLorem ipsum dolor et amis lorem ipsum dol.
  </p>

  <div>
    <div class="row">
      <h3 class="col border">Tarjeta NFContac</h3>
      <h3 class="col border">Tarjeta NFContac</h3>
      <h3 class="col border">Tarjeta NFContac</h3>
      <h3 class="col border">Tarjeta NFContac</h3>
      <h3 class="col border">Tarjeta NFContac</h3>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>Lorem ipsum dolor et</h2>
        <p>
          Our services are the best! Lorem ipsum dolor et amis lorem ipsum
          dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
          lorem ipsum dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum
          dol. Our services are the best! Lorem ipsum dolor et amis lorem ipsum
          dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
          lorem ipsum dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum
          dol.
        </p>
        <button
          class="btn dropdown-toggle rounded-pill mb-3 w-100"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          Conoce mas
        </button>
      </div>
      <div class="col-12 col-lg-6">
        <img
          src="../../../assets/images/5-min.png"
          alt=""
          class="w-100 h-auto"
        />
      </div>
    </div>
  </div>

  <div>
    <h2>Lorem ipsum dolor et amis lorem.</h2>
    <p>
      Our services are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem
      ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum dol. Our services
      are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor
      et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum dollorem
      ipsum dolLorem ipsum dolor et amis lorem ipsum dol.
    </p>
  </div>

  <div>
    <div class="row">
      <div class="col">
        <h3 class="border-start">20 +</h3>
        <p>Empresas afiliadas</p>
      </div>
      <div class="col">
        <h3 class="border-start">40 +</h3>
        <p>Profecionales Capacitados</p>
      </div>
      <div class="col">
        <h3 class="border-start">1500 +</h3>
        <p>Conexiones generadas</p>
      </div>
    </div>

    <div class="row">
      <img src="../../../assets/images/LANDING-min.png" alt="" />
    </div>
    <div class="row">
      <img src="../../../assets/images/LANDING-min.png" alt="" />
    </div>
  </div>
</div>
