<div class="container-services">
  <!----------------  seccion of title  ------------------>
  <div class="container-title">
    <h2 class="title py-3">
      <b> Ayudamos al éxito a través de la tecnología</b>
    </h2>
    <p>
      Our services are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem
      ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum dol. Our services
      are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor
      et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum dollorem
      ipsum dolLorem ipsum dolor et amis lorem ipsum dol.
    </p>
  </div>

  <!----------------  seccion of cards ------------------>

  <div class="row cards d-flex justify-content-center aling-items-center my-5">
    <div class="col-auto card card1 text-bg-dark">
      <div class="card-img-overlay">
        <h4 class="card-title text-center">
          Tarjetas NFC, y productos de gestión inteligente
        </h4>

        <p class="card-text">
          This is a wider card with supporting text below as a natural.
        </p>

        <button
          class="btn dropdown-toggle rounded-pill mb-3 w-100"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          Conoce mas
        </button>
      </div>
    </div>
    <div class="col-auto card card2 text-bg-dark">
      <div class="card-img-overlay">
        <h4 class="card-title text-center">
          Consultoría en la aplicación de Inteligencia Artificial
        </h4>

        <p class="card-text">
          This is a wider card with supporting text below as a natural.
        </p>

        <button
          class="btn dropdown-toggle rounded-pill mb-3 w-100"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          Conoce mas
        </button>
      </div>
    </div>
    <div class="col-auto card card3 text-bg-dark">
      <div class="card-img-overlay">
        <h4 class="card-title text-center">
          Automatización de procesos con Inteligencia Artificial
        </h4>

        <p class="card-text">
          This is a wider card with supporting text below as a natural.
        </p>

        <button
          class="btn dropdown-toggle rounded-pill mb-3 w-100"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          Conoce mas
        </button>
      </div>
    </div>
  </div>

  <div class="paragraph mb-5">
    <p>
      Our services are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem
      ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum dol. Our services
      are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor
      et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum dollorem
      ipsum dolLorem ipsum dolor et amis lorem ipsum dol.
    </p>
  </div>

  <!----------------  seccion of products ------------------>
  <div class="products text-center">
    <div class="row">
      <h5 class="col border py-2">Tarjeta NFContac</h5>
      <h5 class="col border py-2">Sistema de apuntes Notik</h5>
      <h5 class="col border py-2">Automatización de procesos con I.A.</h5>
      <h5 class="col border py-2">Consultoría en herramientas de I.A.</h5>
      <h5 class="col border py-2">Proyectos de Software & Web</h5>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 my-auto px-4 container-content-product">
        <h2>Lorem ipsum dolor et</h2>
        <p>
          Our services are the best! Lorem ipsum dolor et amis lorem ipsum
          dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
          lorem ipsum dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum
          dol. Our services are the best! Lorem ipsum dolor et amis lorem ipsum
          dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
          lorem ipsum dollorem ipsum dolLorem ipsum dolor et amis lorem ipsum
          dol.
        </p>
        <button
          class="btn dropdown-toggle rounded-pill mb-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          Conoce mas
        </button>
      </div>
      <div class="col-12 col-lg-6">
        <img
          src="../../../assets/images/Productos3-min.png"
          alt=""
          class="w-100 h-100"
        />
      </div>
    </div>
  </div>

  <div class="row conatiner-stadistic">
    <h2 class="col-12 col-lg-8"><b>Lorem ipsum dolor et amis lorem.</b></h2>
    <p class="col-12 col-lg-8">
      Our services are the best! Lorem ipsum dolor et amis lorem ipsum dolLorem
      ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
    </p>
  </div>

  <!----------------  seccion of stadistics ------------------>
  <div class="conatiner-stadistic-number">
    <div class="row numbers">
      <div class="col border-start border-5">
        <h3 class=""><b> 20 +</b></h3>
        <p class="">Empresas afiliadas</p>
      </div>
      <div class="col border-start border-5">
        <h3><b>40 +</b></h3>
        <p>Profecionales Capacitados</p>
      </div>
      <div class="col border-start border-5">
        <h3><b>1500 +</b></h3>
        <p>Conexiones generadas</p>
      </div>
    </div>

    <!----------------  seccion of carousel of brands ------------------>

    <!--  carousel 1  -->
    <ngx-slick-carousel
      class="carousel carousel-brands1"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      @for (slide of slides; track slide){
      <div ngxSlickItem class="slide">
        <img src="{{ slide.img }}" alt="slide image" />
      </div>
      }
    </ngx-slick-carousel>

    <!--  carousel 2  -->
    <ngx-slick-carousel
      class="carousel carousel-brands2"
      #slickModal="slick-carousel"
      [config]="slideConfig2"
    >
      @for (slide of slides2; track slide){
      <div ngxSlickItem class="slide2">
        <img src="{{ slide.img }}" alt="slide image" />
      </div>
      }
    </ngx-slick-carousel>
  </div>
</div>
