<div class="row container-fluid container-blog ">
  <!--  title -->
  <div class="col-12 py-4">
    <h2 class="title"><b>Blog</b></h2>
  </div>

  <!---------------- element of search ------------------>
  <div class="col-12 col-lg-3 container-search">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control search rounded-start-pill border-secondary py-3 mb-3"
        placeholder="   Buscar"
        aria-label="Buscar"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-footer rounded-end-pill border-secondary py-3 mb-3"
        type="button"
        id="button-addon2"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <!------------------ paragraph -------------->
  <div class="col-12 conatiner-paragraph my-3">
    <p>
      lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem
      ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
      amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
      dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
    </p>
  </div>
</div>

<div class="container my-5 Desarrollo-IA">
  <div class="row">
    <div class="col-12 col-lg-6 my-auto">
      <h2><b>Reinventando el desarrollo de productos con I.A.</b></h2>
      <p class="">
        lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem
        ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
        amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      </p>
      <p class="">20 de Mayo, 2024.</p>
    </div>
    <div class="col-12 col-lg-6 container-img">
      <img src="../../../assets/images/color1.png" alt="IA" class="img-fluid" />
    </div>
  </div>
</div>

<div class="container my-5 hias">
  <div class="row">
    <div class="col-12 col-lg-6 my-auto">
      <h2><b>HIAS Perú y su apuesta por las tarjetas inteligentes.</b></h2>
      <p class="">
        lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem
        ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
        amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      </p>
      <p class="">20 de Mayo, 2024.</p>
    </div>
    <div class="col-12 col-lg-6 container-img">
      <img src="../../../assets/images/hias2.png" alt="IA" class="img-fluid" />
    </div>
  </div>
</div>
<div class="container my-5 automatizacion">
  <div class="row">
    <div class="col-12 col-lg-6 my-auto">
      <h2><b>Automatización logística en empresas de espectáculos.</b></h2>
      <p class="">
        lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem
        ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
        amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      </p>
      <p class="">20 de Mayo, 2024.</p>
    </div>
    <div class="col-12 col-lg-6 container-img">
      <img src="../../../assets/images/team.png" alt="IA" class="img-fluid" />
    </div>
  </div>
</div>

@if (!verMas) {
<div class="arrow text-center">
  <h3 class="m-0">Ver más...</h3>
  <button
    class="border-0 bg-transparent text-center m-0 p-0"
    (click)="verMas = true"
  >
    <i class="bi bi-arrow-down-short"></i>
  </button>
</div>
} @else {
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center my-5">
        <b>Reinventando el desarrollo de productos con I.A.</b>
      </h2>
      <p class="">
        lorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem
        ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
        amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum lorem
        ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
        dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
        lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum lorem
        ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
        dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
        lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      </p>
    </div>
    <div class="col-12 d-flex aling-items-center justify-content-center my-5">
      <img src="../../../assets/images/color2.png" alt="IA" class="img-fluid" />
    </div>
    <p>
      ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
      amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
      dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum lorem
      ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
      lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor
      et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
    </p>

    <div class="col-12 d-flex aling-items-center justify-content-center my-5">
      <img
        src="../../../assets/images/girl-Black.png"
        alt="IA"
        class="img-fluid"
      />
    </div>

    <p>
      ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
      amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
      dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum lorem
      ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
      lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor
      et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
    </p>

    <p>
      <b>
        ipsum dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et
        amis lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum lorem
        ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
        dolLorem ipsum dolor et amis lorem ipsum dolLorem ipsum dolor et amis
        lorem ipsum dol orem ipsum dolor et amis lorem ipsum dolLorem ipsum
        dolor et amis lorem ipsum dolLorem ipsum dolor et amis lorem ipsum
      </b>
    </p>
  </div>
</div>

<div class="arrow text-center">
  <button
    class="border-0 bg-transparent text-center m-0 p-0"
    (click)="verMas = false"
  >
    <i class="bi bi-arrow-up-short"></i>
  </button>
  <h3>Ver menos...</h3>
</div>
}
